{% extends "base.html" %}
{% block content %}

<div class="main-container">
    <h1 class="title">Safety Analysis Dashboard</h1>
    <div>
        <div class="box">
            <a class="button is-info" href="/analytics/Street">Analyse</a>
            <p>Street's Safety</p>
        </div>
        <div class="box">
            <a class="button is-info" href="/analytics/ATM">Analyse</a>
            <p>ATM's Safety</p>
        </div>
        <div class="box">
            <a class="button is-info" href="/analytics/Warehouse">Analyse</a>
            <p>Warehouse's Safety</p>
        </div>
        <div class="box">
            <a class="button is-info" href="/analytics/street2">Analyse</a>
            <p>Street2's Safety</p>
        </div>
        <div class="box">
            <a class="button is-info" href="/analytics/warehouse2">Analyse</a>
            <p>Warehouse2's Safety</p>
        </div>
    </div>
</div>

{% endblock %}